In [10]:
import pandas as pd

In [41]:
# 1. Create a df from the vine table from Amazon_Vine_Analysis.
# vine_table.csv
vine_data_to_load = "vine_table.csv"
vine_df = pd.read_csv(vine_data_to_load)
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y
...,...,...,...,...,...,...
1785992,RPC430LWZJ60T,5,1,1,N,N
1785993,R347MZT5FH6HRJ,5,2,2,N,N
1785994,RJ5BETZP0VIUS,1,0,2,N,N
1785995,R85QTDO2KZMGO,1,1,3,N,N
1785996,R2W36RZZZNTYWF,5,1,1,N,N

In [ ]:
# Groupby to verify that values contain "Y"
# vine_df.groupby(['vine'])['vine'].count()

In [42]:
# Filter rows.
vine_df_gt20votes = vine_df[vine_df['total_votes'] >= 20]
# vine_df_gt20votes

In [43]:
# Groupby to verify that all values meet criteria.
vine_df_gt20votes.groupby(['total_votes'])['total_votes'].count().head()

total_votes
20    4226
21    3898
22    3544
23    3203
24    2933
Name: total_votes, dtype: int64

In [45]:
# Assign new calculated column
vine_df_helpful = vine_df_gt20votes.assign(helpful_perc = vine_df_gt20votes['helpful_votes'] / vine_df_gt20votes['total_votes'])
# vine_df_helpful

In [46]:
# Filter rows.
vine_df_helpful_gt50perc = vine_df_helpful[vine_df_helpful['helpful_perc'] > 0.5]

In [47]:
# Groupby to verify that all values meet criteria.
vine_df_helpful_gt50perc.groupby(['helpful_perc'])['helpful_perc'].count().head()

helpful_perc
0.504425    1
0.505263    1
0.505747    1
0.506098    1
0.506329    2
Name: helpful_perc, dtype: int64

In [49]:
# Limit to rows where vine == 'Y'
vine_df_vine_y = vine_df_helpful_gt50perc[vine_df['vine'] == "Y"]

# Groupby to verify that all values meet criteria.
vine_df_vine_y.groupby(['vine'])['vine'].count()

C:\Users\LaStella\AppData\Local\Temp\ipykernel_14288\9276695.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  vine_df_vine_y = vine_df_helpful_gt50perc[vine_df['vine'] == "Y"]

vine
Y    94
Name: vine, dtype: int64

In [50]:
# Limit to rows where vine == 'N'
vine_df_vine_n = vine_df_helpful_gt50perc[vine_df['vine'] == "N"]

# Groupby to verify that all values meet criteria.
vine_df_vine_n.groupby(['vine'])['vine'].count()

C:\Users\LaStella\AppData\Local\Temp\ipykernel_14288\2158712868.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  vine_df_vine_n = vine_df_helpful_gt50perc[vine_df['vine'] == "N"]

vine
N    39915
Name: vine, dtype: int64